<div style="background:#2d6a4f; padding:15px;">
    <div style="max-width:1000px; margin:auto; color:white; display:flex; justify-content:space-between;">
        
        <div>
            <a href="{% url 'home' %}" style="color:white; font-weight:bold; font-size:20px;">
                NUTRI-2-CONNECT
            </a>
        </div>

        <div>
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.username }} | </span>
                <a href="{% url 'logout' %}" style="color:white;">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" style="color:white; margin-right:10px;">Login</a>
                <a href="{% url 'register' %}" style="color:white;">Register</a>
            {% endif %}
        </div>

    </div>
    <li><a href="{% url 'client_list' %}">Clients</a></li>

</div>

